.services-requirements-form.external {
    position: relative;
    width: 100%;
    font-size: 16px;
}


.service-requirement-desc {
    border: 2px solid #F1F5F9 !important;
    border-radius: 5px !important;
    border-spacing: 0;
    font-family: 'Open Sans';
    color: #4c5866;
    font-size: 13px;
    line-height: 20px;
    background: #fff !important;
}

.service-requirement-text {
    border: 2px solid #F1F5F9 !important;
    border-radius: 5px !important;
    background: #fff !important;
    font-family: 'Open Sans';
    color: #4c5866 !important;
    border-spacing: 0;
    width: 100%;
    clear: both;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}


.service-requirement-text:focus {
    border-color: #06f !important;
    box-shadow: none !important;
    color: #111 !important;
}

.service-requirement-desc.normal:focus {
    border-style: groove;
    border-color: #06f !important;
    box-shadow: none !important;
    color: #111 !important;
}

.services-requirements-form.external .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
}

.hidden {
	display: none;
}

.service-requirement-dropdown {
    outline: none;
    border-radius: 6px;
    width: 100%;
    color: #4c5866;
    max-width: 100%;
    margin: 5px 0 0;
    background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
    background-size: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    -webkit-appearance: none;
}